body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-flow: column wrap;
    padding: 0 10em;    
}

img {
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

ul {
    list-style-type: none;
    padding: 0 1.5em;
    margin: 0;
    display: flex;
}

li {
    padding: 0 25px;
}


header, footer {
    background-color: #1f2937;
    color: #e5e7eb;
}
/* header link color/size same as section one secondary text */

header {
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
}

.headertext {
    font-size: 1.75em;
    font-weight: bolder;
}

.section-one {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
}

.section-one-left {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}

.hero {
    font-size: 48px;
    font-weight: extra-bold;
    color: #f9faf8;
}

.section-two {
}

.infoheader {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.section-three {
    background-color: #e5e7eb;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.section-four {
}

.s-four-box {
    background-color: #3882F6;
}